{% extends 'base.html' %}
{% block title %}
    Categories
{% endblock %}
{% block style %}
    {% include 'block-style.html' %}
{% endblock %}
{% block body %}
    <br />
    {% if categories_count[0] == 0 %}
        <h1> No categories found </h1>
        <br />
    {% else %}
    <h1>List of Categories</h1>
    <ul>

        {% for item in objects_list %}
        <li>
            <b>{{item.name}}</b> <span>Number of courses for this category: {{item.course_count()}}</span>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

	<div>
		<li><a href="/courses/">List Of Courses</a></li>
		<li><a href="/new_course/">Create New Course</a></li>
        <li><a href="/new_category/">Create New Category</a></li>
	</div>
{% endblock %}