{% extends 'base.html' %}
{% block title %}
    Update Course
{% endblock %}
{% block style %}
    {% include 'block-style.html' %}
{% endblock %}
{% block body %}
	<br>
	{% if courses_count[0] == 0 %}
	  <h1>No courses found</h1>
	{% else %}
		<form action="" method="post">
			<fieldset>
				<legend>Update A Course:</legend>
				<br>
				<p><label for="course_name" class="title">Course Name:</label>
						 <select name="course_name" id="course_name">
							{% for course in courses %}
								<option value="{{course.name}}">
									{{course.name}}
								</option>
							{% endfor %}
						 </select></p>
				<p><label class="title" for="location">Location:</label>
					 <input type="text" name="location" id="location"><br />
				</p>
				<p><label class="title" for="start_date">Start Date:</label>
					 <input type="text" name="start_date" id="start_date"><br />
				</p>
			</fieldset>
		<div class="submit"><input type="submit" value="Send" /></div>
	</form>
	{% endif %}
{% endblock %}