{% extends 'base.html' %}
{% block title %}
    Course List
{% endblock %}
{% block style %}
    {% include 'block-style.html' %}
{% endblock %}
{% block body %}
  <br />
  {% if courses_count[0] == 0 %}
    <h1>No courses found</h1>
  {% else %}
  <div>
      <a href="/new_course/">Create new course</a>
      <br>
          <h1>List of courses: </h1>
      <br>
      <table class="table">
          <thead>
            <tr class="table-dark">
                <th scope="col">Name</th>
                <th scope="col">Location</th>
                <th scope="col">Start Date</th>
                <th scope="col">Category</th>
                <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for item in objects_list %}
            <tr>
                <th scope="row">{{item.name}}</th>
                <td>{{item.location}}</td>
                <td>{{item.start_date}}</td>
                <td>{{item.category.name}}</td>
                <td><span><a href="/copy-course/?name={{item.name}}">copy</a></span></td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
  {% endif %}
{% endblock %}