{% extends 'base.html' %}
{% block title %}
    Feedback
{% endblock %}
{% block style %}
    {% include 'block-style.html' %}
{% endblock %}
{% block body %}
	<form action="" method="post">
		<fieldset>
			<legend>Send us your feedback:</legend>
			<p><label class="title" for="name">Name:</label>
				 <input type="text" name="feedback_name" id="name"><br />
				 <label class="title" for="email">Email:</label>
				 <input type="email" name="feedback_email" id="email"></p>
			<p><label class="title" for="feedback">Feedback:</label>
				  <textarea name="feedback_text" id="feedback"></textarea>
				</p>
		</fieldset>
	<div class="submit"><input type="submit" value="Send" /></div>
	</form>
	{% if name != "Anonymous" and name != " " %}
		<p>Thank you for your feedback: {{name}}! </p>
	{% endif %}
{% endblock %}