{% extends 'base.html' %}
{% block title %}
    About
{% endblock %}
{% block style %}
    {% include 'block-style.html' %}
{% endblock %}
{% block body %}
	<br />
	<h1>Available Courses</h1>
	<p>Schedule for: {{date}}</p>
	<table>
		<tr class="head">
			<th></th>
			<th>Turku</th>
			<th>Savonlinna</th>
			<th>Helsinki</th>
		</tr>
		<tr>
			<th>Finnish: Intermediate</th>
			<td>Sat, 20 February 2021<br />11:00 - 14:00</td>
			<td>Sat, 6 March 2021<br />11:00 - 14:00</td>
			<td>Sat, 20 March 2021<br />11:00 - 14:00</td>
		</tr>
		<tr class="even">
			<th>Norwegian: Beginner</th>
			<td>Sat, 10 April 2021<br />11:00 - 13:00</td>
			<td>Sat, 1 May 2021<br />11:00 - 13:00</td>
			<td>Sat, 8 May 2021<br />11:00 - 13:00</td>
		</tr>
		<tr>
			<th>Swedish: Intermediate</th>
			<td>Sat, 26 July 2021<br />11:00 - 14:00</td>
			<td>Sat, 3 July 2021<br />11:00 - 14:00</td>
			<td>Sat, 10 July 2021<br />11:00 - 14:00</td>
		</tr>
		<tr class="even">
			<th>Finnish: Advanced</th>
			<td>Sat, 28 August 2021<br />11:00 - 16:00</td>
			<td>Sat, 4 August 2021<br />11:00 - 16:00</td>
			<td>Sat, 11 September 2021<br />11:00 - 16:00</td>
		</tr>
	</table>
{% endblock %}
