{% extends 'base.html' %}
{% block title %}
    Add course
{% endblock %}
{% block style %}
    {% include 'block-style.html' %}
{% endblock %}
{% block body %}
{% if categories_count[0] == 0 %}
	<h3> At least one category should be added before creating new course. Add new category <a href="/new_category/">here</a></h3>
{% else %}
    {% if validation_error[0] %}
		<div class="alert alert-danger">Please fix following error: {{validation_error[0]}}</div>
	{% elif success_text[0] %}
		<div class="alert alert-success">{{success_text[0]}}</div>
	{% endif %}
	<form action="" method="post">
		<fieldset>
			<h2>Add a new course:</h2>
			<p><label class="title" for="name">Name:</label>
				<input type="text" class="form-control" name="name" id="name" required>
			</p>
			<p><label for="category" class="title">Category:</label>
					 <select name="category" class="form-select" id="category" required>
						{% for item in categories_list %}
							<option value="{{item.name}}">
								{{item.name}}
							</option>
						{% endfor %}
					 </select></p>
			<p><label class="title" for="location">Location:</label>
				<input type="text" class="form-control" name="location" id="location" required>
			</p>
			<p><label class="title" for="start_date">Start date (DD.MM.YYYY):</label>
				<input type="text" class="form-control" name="start_date" id="start_date" required><br />
			</p>
		</fieldset>
	<div class="submit"><input class="btn btn-dark" type="submit" value="Send" /></div>
	</form>
{% endif %}
{% endblock %}