{% extends 'base.html' %}
{% block title %}
    Add course
{% endblock %}
{% block style %}
    {% include 'block-style.html' %}
{% endblock %}
{% block body %}
	<form action="" method="post">
		<fieldset>
			<legend>Add a new course:</legend>
			<p><label class="title" for="name">Name:</label>
				<input type="text" class="form-control" name="name" id="name">
			</p>
			<p><label for="category" class="title">Category:</label>
					 <select name="category" class="form-control" id="category" required="true">
						{% for item in categories_list %}
							<option value="{{item.name}}">
								{{item.name}}
							</option>
						{% endfor %}
					 </select></p>
			<p><label class="title" for="location">Location:</label>
				<input type="text" class="form-control" name="location" id="location">
			</p>
			<p><label class="title" for="start_date">Start date:</label>
				<input type="text" class="form-control" name="start_date" id="start_date"><br />
			</p>
		</fieldset>
	<div class="submit"><input class="btn btn-dark" type="submit" value="Send" /></div>
	</form>
{% endblock %}