{% extends 'base.html' %}
{% block title %}
    Add category
{% endblock %}
{% block style %}
    {% include 'block-style.html' %}
{% endblock %}
{% block body %}
	{% if validation_error[0] %}
	<br>
	<div class="alert alert-dismissible alert-danger fade show" role="alert">
		<strong>Please fix following error:</strong> {{validation_error[0]}}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% endif %}
	<form action="" method="post">
		<fieldset>
			<h2>Add a new category:</h2>
			<p><label class="title" for="name">Name:</label>
				 <input type="text" class="form-control" name="name" id="name"><br />
				</p>
		</fieldset>
	<div class="submit"><input class="btn btn-dark" type="submit" value="Send" /></div>
	</form>
{% endblock %}