{% extends 'base.html' %}
{% block title %}
    Register
{% endblock %}
{% block style %}
    {% include 'block-style.html' %}
{% endblock %}
{% block body %}
	<form action="" method="post">
		<fieldset>
			<div class="form-group">
				<h2>Register for a course:</h2>
				<label for="course_name" class="title">Course:</label>
					{% if courses_count[0] == 0 %}
						<p>No courses are found</p>
				    {% else %}
						<select class="form-select" name="course_name" id="course_name">
							{% for course in courses %}
								 <option value="{{course}}">{{course}}</option>
							{% endfor %}
						</select>
				    {% endif %}
			</div>
			<br>
			<div class="form-group">
				<label for="student_name" class="title">Student Name:</label>
					{% if students_count[0] == 0 %}
						<p>No students are found</p>
					{% else %}
						<select class="form-select" name="student_name" id="student_name">
							{% for student in students %}
								 <option value="{{student}}">{{student}}</option>
							{% endfor %}
						</select>
				{% endif %}
			</div>
		<div class="submit"><input class="btn btn-dark" type="submit" value="Register" /></div>
		</fieldset>
	</form>
{% endblock %}