{% extends 'base.html' %}
{% block title %}
    Register
{% endblock %}
{% block style %}
    {% include 'block-style.html' %}
{% endblock %}
{% block body %}
	<form action="" method="post">
			<fieldset>
				<legend>Register for a course:</legend>
				<p><label for="course_name" class="title">Course:</label>
					{% if courses_count[0] == 0 %}
						<p>No courses are found</p>
				    {% else %}
						<select name="course_name" id="course_name">
							{% for course in courses %}
								 <option value="{{course}}">{{course}}</option>
							{% endfor %}
						</select>
				    {% endif %}
			    </p>
				<p><label for="student_name" class="title">Name:</label>
					{% if students_count[0] == 0 %}
						<p>No students are found</p>
					{% else %}
						<select name="student_name" id="student_name">
							{% for student in students %}
								 <option value="{{student}}">{{student}}</option>
							{% endfor %}
						</select>
				{% endif %}
				</p>
			</fieldset>
		<div class="submit"><input type="submit" value="Register" /></div>
	</form>
{% endblock %}