{% extends 'base.html' %}
{% block title %}
    Register
{% endblock %}
{% block style %}
    {% include 'block-style.html' %}
{% endblock %}
{% block body %}
	<form action="" method="post">
			<fieldset>
				<h2>Sign Up:</h2>
				<p><label class="title" for="name">Name:</label>
					 <input type="text" class="form-control" required="true" name="name" id="name"><br />
					 <label class="title" for="email">Email:</label>
					 <input type="email" class="form-control" required="true" name="email" id="email"><br />
                     <label class="title" for="password">Password:</label>
					 <input type="password" class="form-control" required="true" name="password" id="password"></p>
              <p><label for="role" class="title">Role:</label>
					 <select class="form-control" name="role" id="role">
						 <option value="student">Student</option>
						 <option value="teacher">Teacher</option>
					 </select></p>
			</fieldset>
		<div class="submit"><input class="btn btn-dark" type="submit" value="Signup" /></div>
	</form>
{% endblock %}