{% extends 'base.html' %}
{% block title %}
    Update Student
{% endblock %}
{% block style %}
    {% include 'block-style.html' %}
{% endblock %}
{% block body %}
	<br>
	{% if students_count[0] == 0 %}
	  <h1>No students found</h1>
	{% else %}
		<form action="" method="post">
			<fieldset>
				<legend>Update Student Info:</legend>
				<br><br>
				<p><label for="student_name" class="title">Student Name:</label>
						 <select name="student_name" id="student_name">
							{% for student in students %}
								<option value="{{student.name}}">
									{{student.name}}
								</option>
							{% endfor %}
						 </select></p>
				<p><label class="title" for="email">New Email:</label>
					 <input type="text" name="email" id="email"><br />
				</p>
			</fieldset>
		<div class="submit"><input type="submit" value="Send" /></div>
	</form>
	{% endif %}
{% endblock %}